In [18]:
import numpy as np
import pandas as pd

In [19]:
from google.colab import files
uploaded = files.upload()

Saving Data.csv to Data (2).csv

In [20]:
# Taking the dataset 
import io
old_df = pd.read_csv(io.BytesIO(uploaded['Data.csv']))
old_df

,Year,Make,Model,Make/Model,Fuel,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total
0,2013,Ford,Focus,Ford Focus,gasoline,30.619322,5.966102,94.033898,1497.169492,"8,14,172","4,22,731","56,487","12,93,390"
1,2013,Ford,Fiesta,Ford Fiesta,gasoline,18.532143,5.714286,68.571429,1166.142857,"5,54,879","6,31,666","54,057","12,40,602"
2,2013,Volkswagen,Golf,Volkswagen Golf,gasoline,31.242154,6.164835,89.461538,1537.406593,"4,83,216","3,10,604","47,563","8,41,383"
3,2013,Renault,Clio,Renault Clio,gasoline,22.100000,5.615385,75.576923,1219.653846,"2,41,287","3,12,556","28,004","5,81,847"
4,2013,BMW,320i,BMW 320i,gasoline,47.848370,6.444444,126.111111,1995.777778,"4,08,016","1,15,843","29,125","5,52,984"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,diesel,108.747195,7.853659,207.609756,2304.975610,"1,012",150,80,"1,242"
6088,1994,Toyota,RAV4,Toyota RAV4,gasoline,43.548516,1.354839,137.774193,2261.193548,670,482,66,"1,218"
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,gasoline,55.200000,6.000000,163.500000,2696.500000,790,247,81,"1,118"
6090,1994,Honda,Shuttle,Honda Shuttle,gasoline,30.081000,4.000000,110.000000,2254.000000,639,416,49,"1,104"
6091,1994,Mitsubishi,Space,Mitsubishi Space,gasoline,23.165158,3.947368,82.157895,1817.315789,721,251,40,"1,012"

In [21]:
# Replacing all the , to . for computations
old_df['Male'] = old_df['Male'].str.replace(',','')
old_df['Female'] = old_df['Female'].str.replace(',','')
old_df['Unknown'] = old_df['Unknown'].str.replace(',','')
old_df['Total'] = old_df['Total'].str.replace(',','')
old_df

,Year,Make,Model,Make/Model,Fuel,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total
0,2013,Ford,Focus,Ford Focus,gasoline,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390
1,2013,Ford,Fiesta,Ford Fiesta,gasoline,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602
2,2013,Volkswagen,Golf,Volkswagen Golf,gasoline,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383
3,2013,Renault,Clio,Renault Clio,gasoline,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847
4,2013,BMW,320i,BMW 320i,gasoline,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,diesel,108.747195,7.853659,207.609756,2304.975610,1012,150,80,1242
6088,1994,Toyota,RAV4,Toyota RAV4,gasoline,43.548516,1.354839,137.774193,2261.193548,670,482,66,1218
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,gasoline,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118
6090,1994,Honda,Shuttle,Honda Shuttle,gasoline,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104
6091,1994,Mitsubishi,Space,Mitsubishi Space,gasoline,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012

In [22]:
# Converting string to int for computations
# One - hot encoding is done as machine understands only numbers
old_df["Fuel"]=old_df["Fuel"].map({"gasoline":1,"diesel":2})
old_df["Fuel"]

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
6087    2.0
6088    1.0
6089    1.0
6090    1.0
6091    1.0
Name: Fuel, Length: 6092, dtype: float64

In [23]:
# So here Gasoline is 0 and Fuel is 1
old_df = pd.get_dummies(data=old_df,columns=["Fuel"],drop_first=True)
old_df

,Year,Make,Model,Make/Model,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0
0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0
1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0
2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0
3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0
4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,108.747195,7.853659,207.609756,2304.975610,1012,150,80,1242,1
6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.354839,137.774193,2261.193548,670,482,66,1218,0
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0
6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0
6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0

In [24]:
old_df.to_csv('Separated_Data.csv')

In [25]:
df = pd.read_csv('Separated_Data.csv')
df

,Unnamed: 0,Year,Make,Model,Make/Model,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0
0,0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0
1,1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0
2,2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0
3,3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0
4,4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,6087,1994,Land-Rover,Defender,Land-Rover Defender,108.747195,7.853659,207.609756,2304.975610,1012,150,80,1242,1
6088,6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.354839,137.774193,2261.193548,670,482,66,1218,0
6089,6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0
6090,6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0
6091,6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0

In [26]:
def sales(define):
    if(int(define['Total']>62000)):
        return 'Trending'
    else:
        return 'Not trending'
df['Sale'] = df.apply(sales, axis=1)
df

,Unnamed: 0,Year,Make,Model,Make/Model,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0,Sale
0,0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0,Trending
1,1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0,Trending
2,2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0,Trending
3,3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0,Trending
4,4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0,Trending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,6087,1994,Land-Rover,Defender,Land-Rover Defender,108.747195,7.853659,207.609756,2304.975610,1012,150,80,1242,1,Not trending
6088,6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.354839,137.774193,2261.193548,670,482,66,1218,0,Not trending
6089,6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0,Not trending
6090,6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0,Not trending
6091,6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0,Not trending

In [27]:
df["Sale"] = df["Sale"].map({"Trending":1,"Not trending":2})
df["Sale"]

0       1
1       1
2       1
3       1
4       1
       ..
6087    2
6088    2
6089    2
6090    2
6091    2
Name: Sale, Length: 6092, dtype: int64

In [28]:
df = pd.get_dummies(data = df,columns=["Sale"],drop_first=True)
df

,Unnamed: 0,Year,Make,Model,Make/Model,Price,Transmission,Power,Engine CC,Male,Female,Unknown,Total,Fuel_2.0,Sale_2
0,0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,814172,422731,56487,1293390,0,0
1,1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,554879,631666,54057,1240602,0,0
2,2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,483216,310604,47563,841383,0,0
3,3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,241287,312556,28004,581847,0,0
4,4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,408016,115843,29125,552984,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,6087,1994,Land-Rover,Defender,Land-Rover Defender,108.747195,7.853659,207.609756,2304.975610,1012,150,80,1242,1,1
6088,6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.354839,137.774193,2261.193548,670,482,66,1218,0,1
6089,6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,790,247,81,1118,0,1
6090,6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,639,416,49,1104,0,1
6091,6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,721,251,40,1012,0,1

In [ ]:
df.to_csv('Separated_Data2.csv')
# Shifted Fuel_2.0 near Engine CC manually for easy calculation and named the file as "Processed_Data"

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Processed_Data.csv to Processed_Data (1).csv

In [ ]:
import io
df_final = pd.read_csv(io.BytesIO(uploaded['Processed_Data.csv']))
df_final.drop(df_final.iloc[:, 0:1], inplace=True, axis=1)
df_final

,Price,Transmission,Power,Engine CC,Fuel_2.0,Male,Female,Unknown,Total,Sale_2
0,30.619322,5.966102,94.033898,1497.169492,0,814172,422731,56487,1293390,0
1,18.532143,5.714286,68.571429,1166.142857,0,554879,631666,54057,1240602,0
2,31.242154,6.164835,89.461538,1537.406593,0,483216,310604,47563,841383,0
3,22.100000,5.615385,75.576923,1219.653846,0,241287,312556,28004,581847,0
4,47.848370,6.444444,126.111111,1995.777778,0,408016,115843,29125,552984,0
...,...,...,...,...,...,...,...,...,...,...
6087,108.747195,7.853659,207.609756,2304.975610,1,1012,150,80,1242,1
6088,43.548516,1.354839,137.774193,2261.193548,0,670,482,66,1218,1
6089,55.200000,6.000000,163.500000,2696.500000,0,790,247,81,1118,1
6090,30.081000,4.000000,110.000000,2254.000000,0,639,416,49,1104,1
6091,23.165158,3.947368,82.157895,1817.315789,0,721,251,40,1012,1

This is used for all the classifiers